*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', serif;
}


.container{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

h1{
    color: #e53170;
    margin-top: 40px;
}

.text-container{
    margin-top: 30px;
}